* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  background-color: aliceblue;

}

.box {
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
}

.available {
  background-color: beige;
}

.btnMovie {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}