*{
  padding: 0;
  margin: 0;
}

header{
  
}

main{
  font-family: Arial, Helvetica, sans-serif;
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 60vw;
  padding: 4rem;
  background-color: pink;
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 5%;
  width: 15%;
  background-color: blueviolet;
}

article{
  margin: 1rem 0;
}