*{
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    height: 100vh;
    width: 100vh;
  }

  main {
    display: flex;
    background-color: orange;
    width: 800px;
    height: 15vh;
    gap: 20px;
    padding: 20px;
  }
  
  .container-main {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  section{
    height: 100px;
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;
  }

  #section-1{
    order: 1;
  }

  #section-2{
    order: 2;
    flex-grow: .4;
  }

  #section-3{
    order: 3;
    flex-grow: .6;
  }

  #section-4{
    order: 4;
    flex-basis: 200px;
  }

  #section-5{
    order: 0;
  }