*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.um, header{
    background-color: #f26419;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

.dois, main{
   background-color: #f6ae2d;
   display: flex;
   flex-direction: row;
   padding: 20px;
   align-items: stretch;
   color: wheat;
}

.tres, section{
    background-color: #2F4858;
    width: 80vw;
    padding: 20px;
}

img, video{
    height: 90%;
}

.quatro, article{
    background-color: #86bbd8;
    padding: 20px;
    height: 180px;
    margin: 20px;
    color: black;

}

.cinco, aside{
    background-color: #33658a;
    width: 15vw;
    padding-left: 20px;
    padding-top: 20px;
}

.seis, footer{
    background-color: #B8D8D8;
    height: 50px;
    padding: 20px 0 0 20px;
}

input{
    width: 100%;
}
textarea{
    width: 100%;
}